<div class="row">
	<!-- <h1>Weekend Planner</h1> -->
	<form class="form-group" ng-submit="Home.addEvent()">
		<label for="title">Add a Workout</label>
		<input class="form-control" type="text" name="title" ng-model="Home.event.title" placeholder="Name" autofocus>
		<textarea class="form-control" rows="5" ng-model="Home.event.description" placeholder="Description"></textarea>
		<button type="submit" class="btn btn-sm btn-default">+</button>
	</form>
	<div id="event_show">
		<ul>
			<li ng-repeat="event in Home.events">
				<a href="">{{event.title}}</a>
				<a href="">{{event.description}}</a>
			</li>
		</ul>
	</div>
</div>
